*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

header img{
    width: 200px;
    height: 80px;
    background: #ffffff;
    margin: 10px;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100px;
    background: #ffffff;
    
}
.tk{
    margin-top: 20px;
    width: 300px;
    height: 50px;
}
.tk input{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 15px;
    border-color: rgb(0, 0, 0);
}
.tk text{
    margin-left: 10px;
}
.tk >i{
    position: absolute;
    margin-left: -20px;
    font-size: 30px;
    line-height: 40px;
    width: 23px;
    height: 30px;
    margin-top: 15px;
    margin-left: -35px;    
}
.phone{
    display: flex;
    margin-top: 30px;
    width: 200px;
    height: 40px;
}

.phone .text{
    margin-left: 10px;
    font-size: 15px;
}
.phone .text h5{
    font-size: 16px;
    font-style: bold;
}
.phone a{
    text-decoration: none;
    color: red;
}
.phone .icon{
    font-size: 40px;
    color: red;
    margin-left: 20px;
}
.header-icon{
    width: 250px;
    height: 100%;
    font-size: 40px;
    margin-top: 35px;
    margin-left: 10px;
}
.header-icon i{
    margin-left: 20px ;
    color: red;
}
.text a:hover{
    color: #f1786f;
}
nav{
    background-color: #eb3e32;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    max-width: 1300px;
}
nav .menu-dmsp a{
    line-height: 42px;
    color: #ffffff;
    font-size: 15px;
}
#main-menu{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
#main-menu .menu-dmsp > a:hover{
    color: #ffb416;
}

#main-menu a{
    text-decoration: none;
    
}
#main-menu li{
    position: relative;
}
#main-menu .sub-menu{
    position: absolute;
    background-color: aliceblue;
    list-style: none;
    width: 200px;
    height: 380px;
    display: none; 
}
#main-menu li:hover ul.sub-menu {
    display: block;
}
#main-menu ul.sub-menu a{
    color: #333;
    width: 200px;
    padding-left: 30px;
    font-size: 14px;
}
#main-menu .sub-menu li a:hover {
    color: #fff;
    background-color: #ffb416;
    display: inline-block;
}
#main-menu .menu-dmsp{
    position: relative;
}
.menu-dmsp .sub-menu1 {
    list-style: none;
    position: absolute;
    background-color: aliceblue;
    width: 200px;
    top: 39px;
    left: -22px;
    display: none;
}
.menu-dmsp .sub-menu1 a{
    padding-left: 20px;
    color: #333;
    font-size: 14px;
}
#main-menu li:hover > .sub-menu1{
    display: block;
}
.menu-dmsp .sub-menu1 li{
    border-bottom: 1px solid #cccaca ;
}

.menu-dmsp .sub-menu1 li:last-child{
    border-bottom: none;
}
.sub-menu1 a:hover{
    color: #ffb416;
}
.menu-dmsp .sub-menu1 .sub-menu1{
    left: 200px;
    top: 0px;
} 
.main{
    display: flex;
}
.main-left{
    flex: 1;
}
.main-right{
    width: 820px;
    flex: 3;
}
.main-left{
    margin-left: 20px;
    margin-top: 12px;
}
.main-left1{
    background-size: cover;
    flex-direction: column;
    margin: 0 8px;
    width: 300px;

}
.main-left1-lbl{
    margin-top: 40px;
    color:#333;
    padding-top: 15px;
    padding-left: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 13px;
    background-color: #fff;
    text-transform: uppercase;
} 
a{
    text-decoration: none;
    color: black;
}
.left-li{
    font-size: 13px;
    margin-left: 20px;
    line-height: 40px;
    list-style: none;
}
.left-li a:hover{
    color: #fff;
    background-color: #ffb416;
    display: block;
}
.main-left2{
    background-size: cover;
    flex-direction: column;
    margin: 0 8px;
    width: 400px;
    margin-top: 5px;
}
.thongke{
    width: 300px;
    margin-top: 15px;
    margin-left: 20px;
    
}
.chu-ul{
    margin-top: 30px;
}
.chu-li{
    list-style: none;
}
.chu{
    line-height: 40px;
}
.anh{
    text-align: center;
}
.thongke span{
    font-weight: bold;

}
.main-left2-lbl{
    color:#ffffff;
    padding-top: 15px;
    padding-left: 10px;
    text-transform: uppercase;
    height: 60px;
    width: 300px;
    font-size: 12px;
    background-color: #eb3e32;
}
.main-left3{
    background-size: cover;
    flex-direction: column;
    margin: 0 8px;
    width: 300px;
    margin-top: 5px;
    
}
.chu-ul{
    margin-left: 20px;
    line-height: 40px;  
}
.chu .chu-ul{
    overflow-y: scroll;
    height: 170px;
    width: 200px;
}
span{
    font-size: 12px;
    text-transform: lowercase;
    line-height: 20px;
}
.main-left3-lbl{
    color:#333;
    padding-top: 15px;
    padding-left: 10px;
    text-transform: uppercase;
    height: 50px;
    font-weight: bold;
    font-size: 13px;
    background-color: #fff;
}
.block-des {
    display: flex;
    border: solid 1px #ebebeb;
    margin: 0 0 15px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 18px;
    
}
.block-des .img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-des .img img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    padding: 5px;
}
.action-cart{
    float: right;
    width: 30px;
    height: 30px;
    margin-right: -40px;
}
.block-des .des {
    width: calc(100% - 100px);
    font-size: 14px;
    padding: 10px 10px;
}
.block-des .des h1 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
}
.block-des .des .scrolldes p {
    margin: 0;
    line-height: 1.3;
    color: #808080;
}
.block-des .des .scrolldes img {
    margin: 10px auto;
}
.section-bar{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-left: 14px;
}
.sort-cate{
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    background: #eb3e32;
}
.section-bar .sort-cate-nav ul{
    display: flex;
    margin: 0;
    padding: 10px 0px;
}
.sort-cate-nav li{
    list-style: none;
}
.btn-cate{
    padding: 0 10px;
}
.btn-cate a{
    color: #fff;
   padding: 10px 0px;
} 
.btn-cate a:hover{
    background-color: #ffb416;
    
}
.section-bar .sort-cate-nav ul li{
    float: left;
    padding: 0px 5px;
    margin: 0 0px 0px 0;
}
.rower{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.aside{
    width: 320px;
    height: 900px;
    box-shadow: 0 0 4px rgba(0 , 0 , 0 ,0.2);
    margin-right: 20px;

}
.product-col{
    width: 200px;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0 , 0 , 0 ,0.2);
}
.product-col .image-sale img{
    width: 180px;
    margin-bottom: 10px;
}
.product-name a:hover{
    color: #ffb416;
}
.image-sale{
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
}
.image-sale img{
    object-fit: cover;
    transition: transform 0.5s;
    height: 100%;
    cursor: pointer;
}
.image-sale:hover img{
    transform: scale(1.1);
}
.product-info{
    margin: 0px;
    position: relative;
    text-align: left;
}
.product-name h3{
    padding: 0;
    font-family: "Roboto",sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #323c42;
    text-decoration: none;
    font-weight: 600;
    margin: 0 0 5px;
    line-height: 18px;
    height: 36px;
}
.product-name a{
    font-size: 14px;
}
.price-box {
    line-height: 23px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-right: 30px;
    height: 47px;
}
.price {
    color: #eb3e32;
    font-size: 18px;
}
.compare-price{
    text-decoration: line-through;
    font-size: 13px;
    color: #9e9e9e;
    line-height: 17px;
    font-weight: 300;

}
.action-cart{
    float: right;
    width: 30px;
    height: 30px;
}
.ti-shopping-cart{
    line-height: 30px;
    margin-left: 8px;
}

footer{
    width: 100%;
    background: #041f73;
    padding: 45px 0 0;
} 
footer .row{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin-left: 20px;
} 
footer h4 {
    font-size: 14pjngx;
    font-weight: boldb ;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.title-menu {
    color: #fff;
    font-size: 15px;
}
.list-menu a{
    text-decoration: none;
    color: #8b8e96;
    font-size: 14px
    
}
.list-menu li{
    line-height: 25px;
}
.list-menu{
    margin-top: 20px;
}
.footer ul {
    padding: 0;
    padding-top: 25px;
}
.list-menu .li-menu a:hover{
    color: #ffb416;
}
.li-menu{
    list-style: none;
}
.two-footer{
    margin-top: 40px;
}
.two-footer .row{
    margin-right: -10px;
    margin-left: -10px;
}
.first-f2-r{
    width: 500px;
}
.mail_footer form {
    position: relative;
    margin-bottom: 0;
}
.mail_footer{
    margin-top: 10px;
    display: block;
    flex: 1;
}
.btc{
    margin-top: 10px;
}
.social-buttons{
    width: 200px;
    display: flex;
    line-height: 4;
    justify-content: space-around;
    font-size: xx-large;
}
.form-control{
    width: 600px;
    height: 40px;
}
.social-buttons i{
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;

}
.social-buttons .ti-youtube{
    color: #eb3e32;
}
.social-buttons .ti-google{
    color: #eb3e32;
}
.social-buttons .ti-facebook{
    color: blue;
}
.three-footer{
    height: 50px;
    margin-top: 20px;

}
.inner{
    color: #8b8b8b;
}
.inner a{
    text-decoration: none;
    color: #eee;
    font-size: 15px;
}
.inner a:hover{
    color: #ffb416;
}
.outner{
    width: 500px;
    margin-left: 30px;
}
.outner ul{
    display: flex;
    justify-content: space-around;
}
.outner a{
    color: #8b8b8b;
    text-decoration: none;
}
.outner li{
    list-style: none;
}
.outner a:hover{
    color: #ffb416;
}